@media screen {
   @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap'); 
  * {
    /* color scheme */
    --line-color: #e2e1e1;
    --primary-color: #3fbda0;
    --text-dark-color: #a0a09e;
    --secondary-color: #686868;
    --text-light-color: #f7f7f7;
    --background-color: #ffffff;
    --font-family: "Roboto", sans-serif;

    /* reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* root-config */
    --side-width: 14%;
    --stat-width:20%;
    --content-height:40%;
  }

  /* root style config */

  body {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
  }

  body {
    font-size: 1rem;
    font-weight: 300;
    color: var(--text-dark-color);
    font-family: var(--font-family);
    background-color: var(--text-light-color);
  }

  ::-webkit-scrollbar {
    display: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    color: var(--secondary-color);
  }
  
  input {
    /* padding-left:10px ; */
    border: none;
    outline: none;
  }

  

}

@media screen and (min-width: 48rem) {

}
